# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/booking-management-fe/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/booking-management-fe/build

# misc
/booking-management-fe/.DS_Store
/booking-management-fe/.env.local
/booking-management-fe/.env.development.local
/booking-management-fe/.env.test.local
/booking-management-fe/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
